<div>
    <h2>Iniciar sesión</h2>
    <br>
    <form class="form-group row" #miFormulario="ngForm" (ngSubmit)="login(miFormulario)">
    
        <div class="form-group col-md-3">
            <input type="email" name="email" placeholder="Ingrese su Email" class="form-control" ngModel>
        </div>

        <div class="form-group col-md-3">
            <input type="password" name="password" placeholder="Ingrese su contraseña" class="form-control" ngModel>
        </div>

        <br><br>

        <div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>


    </form>
</div>
